/* You can add global styles to this file, and also import other style files */
body{
	margin-left: 50px;
}
section{
	margin-bottom: 10px;
}
.bugname, .stats{
	font-size: 21pt;
}
.closed{
	color : red;
	text-decoration: line-through;
	font-style: italic;
	font-weight: bold;
}
.datetime{
	font-style: italic;
}
ol{
	list-style: none;
	width: 500px;
	-webkit-padding-start : 0px;
}
li{
	margin-bottom: 10px;
	padding: 10px;
	border : 1px solid gray;
	background-color: #e7e7e7;
	border-radius: 5px;
}
.bugname{
	cursor: pointer;
}